

<md-sidenav-layout [class.m2app-dark]="isDarkTheme" >

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
    <md-list>
 <md-list-item>  <button md-button>Flat button</button> </md-list-item>
 <md-list-item>  <button md-button>Flat button</button> </md-list-item>
 <md-list-item>  <button md-button>Flat button</button> </md-list-item>
</md-list>
  </md-sidenav>

  <!-- <md-progress-bar
      class="app-progress"
      mode="indeterminate"
      aria-label="Indeterminate progress-bar example"></md-progress-bar> -->

  <md-toolbar color="primary">

    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <img  style="width: 45px;margin: 10px;" src="./assets/img/logo-freeme.png" />

    Free me
    <button md-button [md-menu-trigger-for]="menu">
      Today
    </button>


        <md-menu #menu="mdMenu">
          <button md-menu-item>Today</button>
          <button md-menu-item>Yesterday</button>
          <button md-menu-item>1 Week</button>
          <button md-menu-item>1 Month</button>
        </md-menu>


    <span class="app-toolbar-filler"></span>
    <!-- <button md-button (click)="isDarkTheme = !isDarkTheme">Noticias</button> -->
    <button md-button >Notícias</button>
    <button md-button >Artigos</button>
    <button md-button >Vídeos</button>
    <button md-button>Livros</button>
    <button md-button>Sobre</button>
  </md-toolbar>

  <div class="app-content">



    <md-grid-list cols="4" rowHeight="250px">

      <md-grid-tile [colspan]=3 [rowspan]="3">
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides">

             <slide *ngFor="let slide of slides" id="slide">

               <img [src]="slide.thumbnail" style="margin:auto;">
               <div class="carousel-caption">

                 <div class="news-category">
                   <p class="purple author">  {{slide.sourceName}}</p>
                   <p class="news-time"> {{slide.pubDate | date:'mediumDate'}} </p>
                 </div>

                 <h4 class="title" (click)="openLinkInBrowser(slide.link)" >{{slide.title}}</h4>
                 <p class="description">{{slide.description | stripHtmlTags}}</p>
               </div>
               <div class="background"></div>


             </slide>

        </carousel>
      </md-grid-tile>



  <!-- SIDER SLIDE -->
      <md-grid-tile *ngFor="let slide of slidesSider" >

        <div id="slide-sider">

          <img [src]="slide.thumbnail" style="margin:auto;">

          <div class="carousel-caption">

            <div class="news-category">
              <p class="purple author">  {{slide.sourceName}}</p>
              <p class="news-time">
               {{slide.pubDate | date:'mediumDate'}}
             </p>
            </div>
            <h4 class="title" (click)="openLinkInBrowser(slide.link)">{{slide.title}}</h4>

          </div>
          <div class="background"></div>
        </div>

      </md-grid-tile>

    </md-grid-list>


    <div  style="margin-top: 1px; overflow: auto;" id="blog">
       <app-feed-card *ngFor="let item of blogs" [feed]="item"></app-feed-card>
    </div >



    <!-- <md-card>
      <md-icon>build</md-icon>
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </md-card> -->


<!--
    <md-card>
      <p>Last dialog result: {{lastDialogResult}}</p>
      <button md-raised-button (click)="openDialog()">DIALOG</button>
      <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
    </md-card> -->

  </div>

</md-sidenav-layout>



<md-toolbar color="primary">
  <span>Custom Toolbar</span>

  <md-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">verified_user</md-icon>
  </md-toolbar-row>

  <md-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">favorite</md-icon>
    <md-icon class="example-icon">delete</md-icon>
  </md-toolbar-row>
</md-toolbar>
