

<md-sidenav-layout [class.m2app-dark]="isDarkTheme" >

  <md-sidenav #sidenav mode="side" class="app-sidenav">

    <md-toolbar color="accent">
      <span>Menu</span>
    </md-toolbar>

    <md-nav-list dense>
        <h3 md-subheader style="margin-bottom: 10px;">  <md-icon md-list-avatar>subject</md-icon> Notícias</h3>
        <md-list-item *ngFor="let blog of sidemenu.blogs">

          <a  [href]="blog.url" target="_blank">
            {{blog.name}}
          </a>

        </md-list-item>
    </md-nav-list>

    <md-nav-list dense>
        <h1 md-subheader style="margin-bottom: 10px;">  <md-icon >videocam</md-icon> Vídeos</h1>
        <md-list-item *ngFor="let video of sidemenu.videos">

          <a  href="https://www.youtube.com/channel/{{video.channelId}}" target="_blank">
            {{video.chanelName}}
          </a>

        </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <!-- <md-progress-bar
      class="app-progress"
      mode="indeterminate"
      aria-label="Indeterminate progress-bar example"></md-progress-bar> -->

  <md-toolbar color="primary">

    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <img  style="width: 45px;margin: 10px;" src="./assets/img/logo-freeme.png" />

      Free me Today

    <span class="app-toolbar-filler"></span>
    <!-- <button md-button (click)="isDarkTheme = !isDarkTheme">Noticias</button> -->
    <button md-button >Notícias</button>
    <!-- <button md-button >Artigos</button> -->
    <button md-button >Vídeos</button>
    <!-- <button md-button>Livros</button> -->
    <!-- <button md-button>Sobre</button> -->
  </md-toolbar>

  <div class="app-content">



    <md-grid-list cols="4" rowHeight="250px">

      <md-grid-tile [colspan]=3 [rowspan]="3">
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides">

             <slide *ngFor="let slide of slides" id="slide">

               <img [src]="slide.thumbnail" style="margin:auto;">
               <div class="carousel-caption">

                 <div class="news-category">
                   <p class="purple author">  {{slide.sourceName}}</p>
                   <p class="news-time"> {{slide.pubDate | date:'mediumDate'}} </p>
                 </div>

                 <h4 class="title" (click)="openLinkInBrowser(slide.link)" >{{slide.title}}</h4>
                 <p class="description">{{slide.description | stripHtmlTags}}</p>
               </div>
               <div class="background"></div>


             </slide>

        </carousel>
      </md-grid-tile>



  <!-- SIDER SLIDE -->
      <md-grid-tile *ngFor="let slide of slidesSider" >

        <div id="slide-sider">

          <img [src]="slide.thumbnail" style="margin:auto;">

          <div class="carousel-caption">

            <div class="news-category">
              <p class="purple author">  {{slide.sourceName}}</p>
              <p class="news-time">
               {{slide.pubDate | date:'mediumDate'}}
             </p>
            </div>
            <h4 class="title" (click)="openLinkInBrowser(slide.link)">{{slide.title}}</h4>

          </div>
          <div class="background"></div>

       </div>

      </md-grid-tile>

    </md-grid-list>


    <md-toolbar color="primary">
        <md-icon>subject</md-icon>
        <span>Notícias</span>
    </md-toolbar>

    <div  style="margin-top: 10px; overflow: auto;" id="blog">
       <!-- <app-feed-card *ngFor="let item of blogs" [feed]="item"></app-feed-card> -->
       <md-grid-list cols="3" rowHeight="470px" gutterSize="10px">
         <md-grid-tile *ngFor="let item of blogs" >
              <app-feed-card  [feed]="item"></app-feed-card>
         </md-grid-tile>
       </md-grid-list>
    </div >  <!-- end blog -->

<!-- <md-card>
  Vídeos

  <md-icon>theaters</md-icon>
  <md-icon>play_circle_filled</md-icon>
  <md-icon>play_circle_outline</md-icon>
  <md-icon>play_arrow</md-icon>
  <md-icon>subscriptions</md-icon>
  <md-icon>videocam</md-icon>
  <md-icon>video_library</md-icon>
  <md-icon>book</md-icon>
  <md-icon>library_books</md-icon>
  <md-icon>update</md-icon>
  <md-icon>subject</md-icon>
  <md-icon>dvr</md-icon>
  <md-icon>cast</md-icon>
  <md-icon>school</md-icon>

</md-card> -->

<md-toolbar color="primary">
    <md-icon>videocam</md-icon>
    <span>Vídeos</span>
</md-toolbar>



  <div style="background-color:#212121">
      <md-grid-list color="accent" cols="4" rowHeight="300px" gutterSize="10px">
        <md-grid-tile *ngFor="let item of videos" >
             <app-video-card  [feed]="item"></app-video-card>
        </md-grid-tile>
      </md-grid-list>

      <share-buttons id="share-buttons"  [url]="linkToShare" [count]="true" ></share-buttons>
  </div>  <!--end video -->

</div> <!-- class="app-content"> -->

</md-sidenav-layout>



  <md-toolbar color="primary" style="text-align: center; color: black; font-size: 14px;">
    <md-toolbar-row>

    <p style="color: black; padding-left: 21%; padding-right: 21%;">
    <span>
      Esse site é uma plataforma online para divulgar e conscientizar as pessoas sobre as ideas de Liberdade, Propriedade e Paz.
    </span>

    <span>
      Aqui você encontrará tudo sobre o tema, desde notícias, vídeos, artigos, livros, grupos de estudos e eventos próximos a você.
    </span>
  </p>
  </md-toolbar-row>

    <md-toolbar-row></md-toolbar-row>
  </md-toolbar>
