.card-feed-entry {
  margin: 10px;
  transition: all 400ms ease-out 50ms;
}

.news-blog {
  /*width: 33%;
  display: inline-block;*/
  position: inherit;
  min-height: inherit;
  display: flex;
}

.news-blog .image .responsive-img {
    min-height: 472px;
    max-height: 472px;
    min-width: 472px;
}

.news-category .author{
  background-color: #FBC02D;
  color: black;
}

.news-category .news-description .news-time
{
  color: #FBC02D;
}

.news-blog .news-content p
{
  line-height: initial;
  word-break: break-word;
}

.news-blog .news-title > a {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
